<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="layout_render_before">
		<observer instance="Neon\AdminFontSize\Observer\Backend\Layout\RenderBefore" name="neon_adminfontsize_observer_backend_layout_renderbefore_layout_render_before"/>
	</event>
</config>